doctype html
html
	include head
	body
		include navbar
		
		.wrapper
			.header
			.container-fluid
				if ficha
					div.col.col-md-12
						.panel
							.panel-heading Ficha
							.panel-body
								div.col-md-2
									img.pull-left(src="#{ficha.imagem}", height="250")
									div.nomeCelular.pull-left

								div.col-md-4
									h2 #{ficha.nome}
									table.table.table-hover
										tr
											td Sistema Operacional
											td #{ficha.sistema_operacional}
										tr
											td Processador
											td #{ficha.processador}
										tr
											td RAM
											td #{ficha.ram}
										tr
											td Disponibilidade
											td #{ficha.disponibilidade}
										tr
											td Peso
											td #{ficha.peso}
										tr
											td Hardware
											td #{ficha.hardware}
										tr
											td Chipset
											td #{ficha.chipset}
										tr
											td Memória máxima
											td #{ficha.memoria_max}
										tr
											td Memória expansivel
											td #{ficha.memoria_expansivel}
										tr
											td Polegadas
											td #{ficha.polegadas}
										tr
											td Resolucao
											td #{ficha.resolucao}
										tr
											td Megapixel
											td #{ficha.megapixel}
										tr
											td Tamanho do sensor
											td #{ficha.tamanho_do_sensor}
										tr
											td Camera frontal
											td #{ficha.camera_frontal}
										tr
											td Resolucao da gravação
											td #{ficha.resolucao_da_gravacao}
										tr
											td FPS da gravacao
											td #{ficha.fps_da_gravacao}
										tr
											td Video camera frontal
											td #{ficha.video_camera_frontal}
										tr
											td Bluetooth
											td #{ficha.bluetooth}
										tr
											td Velocidade maxima de download
											td #{ficha.velocidade_maxima_de_download}
										tr
											td Velocidade maxima de upload
											td #{ficha.velocidade_maxima_de_upload}
										tr
											td impressao digital
											td #{ficha.impressao_digital}
											
				else
					p.text-danger Ficha não encontrada